header {
    background-color: darkblue;
    color: white;
    text-align: center;
    font-size: 50px;
    padding: 30px 0px;
}
.container {
    position: absolute;
    height: 100%;
    width: 100%;
    border: solid 1px black;
}
.search-btn {
    width: 40px;
    height: 30px;
    background-color: #06AED5;
    color: white;
  }
.search-list {
    border: solid 1px blue;
    background-color: lightblue;
    height: 858px;
}
.list-content {
    border: solid 1px green;
}
.search {
    padding-top: 10px;
    padding-left: 20px;

}