header {
    background-color: darkblue;
    color: white;
    text-align: center;
    font-size: 50px;
    padding: 30px 0px;
    -webkit-text-stroke-width: 1gipx;
    -webkit-text-stroke-color: black;
}
.container {
    position: absolute;
    width: 100%;
}
.search-list {
    background-color: darkgrey;
    height: 858px;
}
.list-content {
    background-image: url("./images/body-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.search {
    padding-top: 10px;
    padding-left: 20px;

}
#show-city {
    color: white;
}
#temp,
#humid,
#windspeed,
#uv-index {
    font-size: 30px;
    color: white;
}
.fiveday {
    font-size: 30px;
    padding-top: 50px;
    font-weight: bolder;
    display: none;
    color: white;
}

.card {
    background: blue;
    font-size: medium;
    padding: 20px;
}